<h1>New Course</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.course_path(@socket, :create)) %>

<span><%= live_link "Back", to: Routes.live_path(@socket, MediaHubWeb.CourseLive.Index) %></span>
